- @items.each do |item|
  %h2
    = item.url
  %ul
    - item.links.each do |link|
      %li
        = link_to label_url(link) do
          = label_url(link)

      %li
        = link_to new_item_link_path(link) do
          Add New
